.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(86, 204, 169);
  padding: 10px;
  
}
.container div {
  background-color: rgb(154, 198, 223);
  
  
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 120px;
}
.h1{
    background-color: rgb(97, 97, 143);
}
