* {
  background-color: rgb(131, 164, 169);
}
text{
    width: 100px;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  
  padding: 10px;
}

.container div {
  background-color:rgb(131, 164, 169);
  
  
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.h1{
    background-color: rgb(97, 97, 143);
}

