
     h1 {
      color:rgb(153, 12, 228);
      font-size: 32px;
      font-weight: bold;
    }

    .calculator {
      display: inline-grid;
      grid-template-columns: repeat(4, 70px);
      gap: 12px;
      margin-top: 20px;
    }
.ac{
   background-color: rgb(187, 92, 215);
}
.operator{
   background-color: rgb(187, 92, 215);

}
.equal{
   background-color: rgb(124, 66, 145);
}
    button {
      height: 55px;
      width: 65px;
      font-size: 18px;
      font-weight: bold;
      border: 1px solid rgb(152, 10, 241);
      background-color: #cb86de;
      cursor: pointer;
    }

    button:hover {
      background-color: #e48bde;
    }
    body{
      background-image: url(https://d1csarkz8obe9u.cloudfront.net/posterpreviews/powerpoint-math-for-kids-background-design-template-9c7101e6f62f51589b70148f650f4f6e_screen.jpg?ts=1737411341);
      background-size: cover;
    }
    
  
.display {
  grid-column: span 4;   
  height: 50px;
  width: 310px;
  font-size: 24px;
  text-align: right;
  padding: 5px 10px;
  border: 1px solid rgb(134, 11, 228);
  background-color: #dcbcec;
  box-sizing: border-box;
}
