*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-image: url(https://wallpaperaccess.com/full/199632.jpg);
    background-position:  center;
    background-size: cover;
    height: 100vh;
font-family: sans-serif;}
.navbar{
    width: 95%;
    height: auto;
    margin-left: 30px;

}
.logo{
    color: rgba(19, 237, 103, 0.951)

     font-size: 700px;
     
    float: left;
    padding-top: .6%;
    cursor: pointer;
}
.menu{
    width: 600px;
    float: left;
    height: 70px;

}
ul{
    float: left;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 14%;

}
ul li{
    
    list-style: none;
    margin-left: 60px;
    font-size: 16px;
}
ul li a{
    text-decoration: none;
    color: white
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.h1{
    font-size: larger;
}